@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@layer components {
    button, select {
        @apply bg-gray-100 py-1 px-3 text-center border-2 border-gray-200 m-4 rounded-full text-base hover:border-gray-400 active:bg-gray-400 active:border-gray-500
    }
}

* {
    font-family: 'JetBrains Mono', monospace;
}

canvas {
    transition: width .5s, height .5s, top .5s, left .5s;
}

@media (max-width: 600px) {
    .App {
        zoom: 50% 
    }
}